<!DOCTYPE html>
<html>
<head>
  <title>Code17</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

  <div class="modal-dialog text-center">
  	<div class="col-sm-8 main-section">
  		<div class="modal-content">

  		<div class="col-12 user-img">
  		<img src="/static/img/2.png">
  	</div>

    <form class="col-12" action = "http://localhost:5000/submit" method = "POST" 
         enctype = "multipart/form-data">
     <div class="form-group">
     <input type="text" class="form-control" name="name" placeholder="Enter Name">
  </div>
  
      <div class="form-group">
     <input type="file" class="form-control" name="file">
     </div>
     <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Submit</button>
  </form>


</body>
</html>
























